# Python cache
__pycache__/
.pyc
.pyo
.pyd

# Virtual envs
.env
venv/
.venv/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
.coverage.
htmlcov/

# Build artifacts
build/
dist/
.egg-info/

# Notebook
.ipynb_checkpoints/

# Matplotlib cache
matplotlib/fontlist-v.json
